<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
  <title>MealDadu Restaurant</title>
</head>
<body>
  <header>
    <!-- <a href="#mainContent" class="skip-link">Skip To Content</a> -->
    <!-- <div class="logo">
      <img src="images/logo.png" alt="Cari Resto Logo" />
    </div> -->
    <!-- <a id="menu" class="navbar__toggler" tabindex="0">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
      </svg>
    </a> -->
    <div class="header__inner">
      <h1 class="header__title">
        MealDadu
      </h1>
    </div>
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/">Home</a>
        </li>
        <li class="nav__item">
          <a href="#">Favorite</a>
        </li>
        <li class="nav__item">
          <a href="https://github.com/ryfazrin">About Us</a>
        </li>
      </ul>
    </nav>
  </header>

  <section class="hero"></section>

  <main>
    <h1>Explore Restaurant</h1>
    <section class="content">
      <article class="headline">
        <figure class="headline__figure">
          <img src="images/articles/article-image_1.jpg" alt="Dicoding Fact Sheet">
          <figcaption>Kota Bandung</figcaption>
        </figure>
        <div class="headline__content">
          <p>Rating: 4.5</p>
          <h1 class="headline__title">#ceritadicoding : Story of Dicoding</h1>
          <p class="headline__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eum
            facere nostrum officiis qui quidem ratione similique, soluta veniam voluptatum. Accusantium ad amet
            asperiores, aut commodi corporis dicta distinctio ducimus expedita itaque laudantium magnam maiores,
            nobis obcaecati officiis provident quasi qui quos repellat rerum saepe sint soluta veniam vero
            vitae, voluptas voluptate voluptatem. Esse nobis non nulla optio vero. Laudantium!</p>
        </div>
      </article>
    </section>
  </main>
  <footer>
    <p>Copyright &#169; 2022 - MealDadu</p>
  </footer>
</body>
</html>
