:root {
  --primary: 84, 28, 28;
  --secondary: 230, 199, 175;
}

/* Mobile First */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: garetBook, "Roboto";
  font-size: 12px;
}

/* 
 * skip-link
 */
.skip-link {
  position: absolute;
  top: -44px;
  left: 0;
  background-color: rgb(var(--secondary));
  color: rgb(var(--primary));
  padding: 14px;
  z-index: 100;
  height: 44px;
  border-radius: .375rem;
}
 
.skip-link:focus {
  top: 0;
}


/*
 * Header
 */

header {
  display: flex;
  flex-direction: column;

  background: rgb(var(--primary));
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__inner img {
  width: 50%;
}

.navbar__toggler {
  color: rgb(var(--secondary));
  margin-inline: 24px;
  padding: 12px;
}

#hamburger:focus {
  border-radius: .375rem;
  box-shadow: 0 0 0 .2em rgba(var(--secondary), 0.7);
}

/*
 * Nav
 */

.nav {
  width: 250px;
  border-radius: .375rem;
  position: absolute;
  transform: translate(-250px, 0);
  transition: transform 0.3s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  background: rgb(var(--primary));
}

#drawer.open {
  transform: translate(0,0);
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  line-height: 2em;
  text-transform: uppercase;
  transition: 0.3s;
  margin: .3em;
}

.nav a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
  color: rgb(var(--secondary));
}

.nav__item:hover, .nav__item:focus {
  border-radius: .375rem;
  box-shadow: 0 0 0 .2em rgba(var(--secondary), 0.7);
}

/*
 * Jumbotron
 */

.hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-image: url("./images/hero.webp");
  background-position: center;
  background-color: rgb(var(--primary));
}

/* 
 * Main
 */

.main__title {
  color: var(--primary);
  text-align: center;
  padding: 16px;
}
.main__title::after {
  content: '';
  margin-top: 16px;
  display: block;
  border-bottom: 1px solid #eeeeee;
}

/*
 * Content
 */
.content {
  margin: 16px auto;
  width: 100%;
  padding: 32px;
  display: grid;
  gap: 1em;
  text-align: left;
}

/*
 * article Headline
 * restaurant item
 */

.headline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(var(--secondary), 0.4);
  border-radius: .375rem;
  color: rgb(var(--primary));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.headline__figure {
  width: 100%;
  display: grid;
}
.headline__figure img {
  grid-area: 1 / 1 / 4 / 2;
  width: 100%;
  border-radius: .375rem .375rem 0 0;
}
.headline__figure figcaption {
  grid-area: 1 / 1 / 2 / 2;
  width: fit-content;
  padding: 12px 24px;
  margin: 24px;
  border-radius: .375rem;

  font-family: Blanka, "Roboto";
  color: rgb(var(--secondary));
  background: rgb(var(--primary));
}

.headline__content {
  padding: 24px;
}

.headline__title a {
  font-family: garetHeavy, "Roboto";
  color: rgb(var(--primary));
  text-decoration: none;
  padding-block: 8px;
}

.headline__description {
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* 
 * restaurant
 */

.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}
 
.restaurant .restaurant__poster {
  width: 100%;
  border-radius: 0 0 .375rem .375rem;
}

.restaurant .restaurant__detail {
  margin: 0 8px;
}
 
.restaurant .restaurant__info h3,
.restaurant .restaurant__overview h3,
.restaurant .restaurant__menus h2
{
  margin: 8px 0;
}

.restaurant .restaurant__overview {
  text-align: justify;
}

.restaurant .restaurant__menus .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.restaurant .restaurant__menus .item {
  padding: 12px;
  width: fit-content;
  color: rgba(var(--primary));
  background: rgba(var(--secondary));
  border-radius: 0.375rem;
}

.restaurant .restaurant__review h2 {
  margin: 8px;
}

.restaurant .restaurant__review .item {
  padding: 12px;
  border-radius: 0.375rem;
}

.restaurant .restaurant__review .item .name {
  color: rgba(var(--primary));
  font-weight: bold;
  font-size: 16px;
}

.restaurant .restaurant__review .item .date {
  font-size: 10px;
  text-align: end;
}

.restaurant .restaurant__review .item .review {
  text-align: justify;
}

.restaurant .restaurant__review .item::after {
  content: '';
  margin-top: 16px;
  display: block;
  border-bottom: 5px solid #eeeeee;
}

.restaurant .restaurant__title::after {
  content: '';
  margin-top: 16px;
  display: block;
  border-bottom: 5px solid #eeeeee;
}

.restaurant .restaurant__info::after {
  content: '';
  margin: 8px 0 16px;
  display: block;
  border-bottom: 1px solid #eeeeee;
}

/* 
 * Rating stars
 */
 .stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\2606 \2606 \2606 \2606 \2606";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  color: #f8ce0b;
}

/*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

/*
 * Footer
 */
footer {
  background-color: rgb(var(--primary));
  color: rgb(var(--secondary));
  padding: 2em;
  width: 100%;
  text-align: center;
}